<main class="page">
	@if (isLoading()) {
		<section class="flex flex-col items-center justify-center section">
			<div class="w-12 h-12 border-4 border-indigo-500 border-t-transparent rounded-full animate-spin"></div>
			<p class="text-slate-400 text-sm font-medium animate-pulse">Syncing dashboard neural state grids...</p>
		</section>
	}
	@else if (dashboard(); as data) {
		<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 section">
			<stat-card
				[stat]="data.characterStats.energyScore"
				text="Energy Score ⚡"
			/>
			<stat-card
				[stat]="data.characterStats.healthScore"
				text="Health Score 💖"
			/>
			<stat-card
				[stat]="data.characterStats.completionRate"
				text="Completion Rate ✨"
			/>
			<stat-card
				[stat]="data.characterStats.totalActiveTasks"
				text="Total Active Tasks 📃"
			/>
		</section>
		<section class="section flex flex-col">
			@let createNoteUrl = '/profiles/' + profileState.activeProfile()?.id + '/notes/create';
			<div class="mb-12 flex-4">
				<div class="flex flex-col xl:flex-row w-full justify-between">
					<h2 class="text-xl font-bold mb-4 tracking-tight flex items-center space-x-2">
						<span>📂 Active Notebook Workspaces</span>
					</h2>
						<a 
							[routerLink]="createNoteUrl" 
							class="btn-primary inline-block p-2 bg-primary rounded-2xl text-background hover:opacity-90 transition text-center font-semibold text-sm"
						>
						Create new note
					</a>
				</div>
				
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					@for (note of data.notes; track note.id) {
					@let urlLink = "/profiles/" + profileState.activeProfile()?.id + "/notes/" + note.id;
					<a [routerLink]="urlLink">
						<div class="bg-background rounded-xl p-5 shadow-lg flex flex-col justify-between">
							<div>
								<div class="flex justify-between items-start mb-4">
									<h3 class="text-lg font-bold text-foreground">{{ note.title }}</h3>
									<span class="text-xs px-2 py-0.5 bg-primary text-background font-semibold rounded-full uppercase tracking-wider">
									{{ note.category }}
									</span>
								</div>

								<div class="space-y-2">
									@for (task of note.tasks; track task.id) {
										<app-task-item [task]="task"></app-task-item>
									} @empty {
									<p class="text-xs text-slate-500 italic p-3 text-center bg-slate-800/20 border border-dashed border-slate-800 rounded-lg">
										No items inside this folder yet.
									</p>
									}
								</div>
							</div>
						</div>
					</a>
						
					}
				</div>
				</div>

				<div class="bg-background border border-primary rounded-xl p-6 shadow-xl">
					<div class="flex-col flex md:flex-row justify-between">
						<h2 class="text-xl font-bold mb-2 tracking-tight text-foreground flex items-center space-x-2">
							<span>📥 Standalone Tasks Bucket</span>
						</h2>
						@let taskCreation = "/profiles/" + profileState.activeProfile()?.id + "/tasks/create";
						<a class="bg-primary rounded-2xl p-2 text-background btn-primary text-center transition" [routerLink]="taskCreation">
							Create
						</a>
					</div>
					<p class="text-xs text-slate-400 mb-4">Quick modifications or thoughts that haven't been compiled into a distinct notebook project container.</p>

					<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
						@for (task of data.inboxTasks; track task.id) {
							<app-task-item [task]="task"></app-task-item>
						} @empty {
							<div class="col-span-2 p-8 text-center bg-slate-950 border border-dashed border-slate-800 rounded-xl">
								<p class="text-sm text-slate-500 font-medium">Your standalone inbox container is empty.</p>
							</div>
						}
					</div>
				</div>
		</section>
		<section class="section grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6" cdkDropListGroup>
			<task-container
				title="TODO"
				id="TODO"
				[tasks]="todoTasks() ?? []"
				[isAddTaskAllowed]="true"
				(dropped)="onCardDropped($event)"
				(deleteTask)="deleteTask($event)"
			/>
			<task-container
				title="PROGRESS"
				id="PROGRESS"
				[tasks]="progressTasks() ?? []"
				[isAddTaskAllowed]="false"
				(dropped)="onCardDropped($event)"
				(deleteTask)="deleteTask($event)"
			/>
			<task-container
				title="REVIEW"
				id="REVIEW"
				[tasks]="reviewTasks() ?? []"
				[isAddTaskAllowed]="false"
				(dropped)="onCardDropped($event)"
				(deleteTask)="deleteTask($event)"
			/>
			<task-container
				title="DONE"
				id="DONE"
				[tasks]="doneTasks() ?? []"
				[isAddTaskAllowed]="false"
				(dropped)="onCardDropped($event)"
				(deleteTask)="deleteTask($event)"
			/>
		</section>
	}
</main>